@charset "urf-8";

@mixin center($w) {
    width: $w;
    margin: 0 auto;
}

@mixin flexCenter($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin show {
	display: block;
}

@mixin hide {
	display: none;
}

html {
	font-size: 10px;
}
a, button, figcaption, h1, h2, h3, h4, h5, h6, label, li, p, span {
	color: #323232;
	font: {
		size: 1.6rem;
		weight: 300;
		family: "Noto Sans KR", Roboto, sans-serif;
	}
	letter-spacing: -0.05rem;
}
button {
    cursor: pointer;
}
#wrap {
	figure {
		padding: 2rem;
		box-sizing: border-box;
	}
	.docs-box {
		.memo {
			display: inline-block;
			height: auto;
			padding: 2rem;
			border-top: 5px #b8c4d6 solid;
			box: {
				sizing: border-box;
				shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
			}
		}
	}
}
figure {
	&:not(.disable) {
		img {
			box-shadow: 0 1px 16px rgb(233, 233, 233);
			border-radius: 0.5rem;
			overflow: hidden;
			transition: box-shadow .2s;
			&:hover {
				box-shadow: 0 1px 16px rgb(182, 182, 182);
			}
		}
	}
    &.disable {
        img {
            border-radius: 0;
            box-shadow: none;
        }
        &:hover {
            img {
                border-radius: 0;
                box-shadow: none;
            }
        }
    }
}

.logo {
	font: {
		size: 2.4rem;
		weight: 700;
	}
	color: #b8c4d6;
}
header {
	width: 100%;
	height: 5rem;
	background: #fff;
	padding: 1rem 2rem;
	box: {
		sizing: border-box;
		shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
	}
	position: relative;
	@include flexCenter(space-between, center);
	.menu {
		display: flex;
		padding-top: 1rem;
		li {
			margin-left: 2rem;
			a {
				padding: 0.5rem;
			}
			&.menu_hide{
				@include hide;
			}
		}
	}

	.menu_hide {
		position: absolute;
		top: 2rem;
		right: 2rem;
		@include hide;
		width: 2rem;
		height: 2rem;
		span {
			position: absolute;
			top: 10px;
			right: -2px;
			width: 120%;
			height: 2px;
			background: #323232;
			&:first-child {
				transform: rotate(45deg);
			}
			&:last-child {
				transform: rotate(-45deg);
			}
		}
	}
	.page-select {
		color: #7089ac;
		font-weight: 600;
	} 
	.depth_wrap{
		position:absolute;
		top:5rem;
		left: 0;
		padding: 1rem 2rem;
		background-color: #fff;
		width: 100%;
		display: none;
		box-sizing: border-box;
		z-index: 10;
		height: calc(100vh - 5rem);
		overflow-y: scroll;
		&::-webkit-scrollbar {
			width: 12px;
			background-color: transparent;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			border: 4px solid transparent;
			background: {
				clip: padding-box;
				color: #f8cfe4 ;
			}
		}
		&::-webkit-scrollbar-track {
			background-color: transparent;
		}
		& >li {
			& >a{
				font: {
					size: 1.8rem;
					weight: 400;
				}
				padding: 1rem;
				margin-left: 1rem;
			}
			.gnb {
				margin-left: 2rem;
				button, a{
					position: relative;
					padding: 1rem;
					width: 100%;
					text-align: left;
					min-height: 50px;
					font-size: 1.6rem;
					&::before {
						width: 100%;
						height: 100%;
						position: absolute;
						bottom: 0;
						left: 0;
						display: block;
						content: "";
						opacity: 0;
						transition: opacity 0.2s;
						background: linear-gradient(to left, #df89b5 0, #bfd9fe 100%);
					}
					&:hover::before{
						opacity: .2;
					}
				}
				button {
					&::after {
						content: "";
						display: block;
						width: 8px;
						height: 8px;
						border: 2px #df89b5 solid;
						transform: rotate(45deg);
						position: absolute;
						top: 22px;
						right: 20px;
						border: {
							right: none;
							bottom: none;
						}						
						transition: transform 0.2s;
					}
					&.on::after {
						transform: rotate(225deg);
    					top: 18px;
					}
				}
				.depth {
					padding: 1rem;
					padding-top: 0;
					@include hide;
					a{
						min-height: auto;
						width: auto;
					}

				}				
			}
		}
	
	}
}
header.fix {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
}
.contents {
	padding: 0 0 3rem;
	>section {
		box-sizing: border-box;
		padding: 80px 15%;
	}
	figure {
		max-width: 600px;
		@include center(80%);
		img {
			width: 100%;
			height: auto;
		}
	}
	p {
		text-align: center;
	}
	.main {
		h2 {
			color: #323232;
		}
	}
	.flex-wrap {
		border: none;
		padding: 0;
		width: 100%;
	}
}
section {
	&:nth-child(even) {
		background: #f6fafc;
	}
}
.main {
	h2 {
		color: #bfd9fe;
		text-align: center;
		font: {
			weight: 700;
			size: 4rem;
		}
		margin: 10px 0;
	}
	ul {
		li {
			width: 170px;
			height: 55px;
			text-align: center;
			line-height: 55px;
			border-radius: 5px;
			margin: 2rem auto 0;
			background: linear-gradient(240deg, rgba(223, 137, 181, 0.2) 0, rgba(191, 217, 354, 0.2) 100%);
		}
	}
}
.lost-num {
	h2 {
		font-weight: 700;
		font-size: 2rem;
		text-align: center;
	}
	div {
		div {
			max-width: 500px;
			height: auto;
			@include center(100%);
			margin-top: 60px;
			@include flexCenter(center, center);
		}
	}
	span.box {
		color: #9e9e9e;
		font-weight: 400;
		width: 80%;
		margin: 0;
		border-bottom: 1px dotted #9e9e9e;
		padding: 8px 0;
		font-size: 1.2rem;
	}
	span {
		color: #4a148c;
		margin-left: 15px;
		font-size: 1.4rem;
		width: 20%;
		padding: 10px;
		text-align: center;
		&:last-child {
			background: linear-gradient(240deg, rgba(223, 137, 181, 0.2) 0, rgba(191, 217, 354, 0.2) 100%);
		}
	}
}
.flex-wrap {
	>section {
		box-sizing: border-box;
		padding: 80px 0;
		>div {
			display: flex;
			flex-direction: column;
			@include center(90%);
		}
		&:nth-child(even) {
			>div {
				flex-direction: column-reverse;
                &:first-child {
                    margin-top: 100px;
                }
			}
		}
		&:nth-child(odd) {
			>div:first-child {
                margin-bottom: 100px;
			}
		}
	}
}
section.community {
	background: #ffcd00;
	width: 100%;
	height: 100%;
	padding: 0;
	& >div {
		background: {
			image: url(../images/kakao.4b5a4af8.gif);
			repeat: no-repeat;
			position: center center;
			size: contain;
		}
		width: 100%;
		height: 100%;
	}
	div {
		div {
			background: rgba(0, 0, 0, 0.6);
			padding: 16rem 0;
		}
		p {
			margin: 3rem 0;
			color: #fff;
		}
		p.header {
			font: {
				size: 3rem;
				weight: 500;
			}
			margin: 0;
		}
		button {
			background: #ffe785;
			font-size: 1.4rem;
			padding: 1rem 1.5rem;
			border-radius: 0.5rem;
			margin: 0 auto;
		}
	}
}
section.anydesk {
	padding: 80px 5%;
	div {
		padding: 8rem 0;
		button {
			background: #b8c4d6;
			font-size: 1.4rem;
			margin: 3rem auto;
			padding: 1rem 1.5rem;
			border-radius: 0.5rem;
			color: #fff;
		}
	}
}
.popup {
	width: 0%;
	height: 0%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	@include flexCenter(center, center);
	@include hide;
	figure {
		width: 90%;
		width: 80%;
		@include flexCenter(center, center);
		z-index: 2;
		img {
			width: 100%;
			background: #fff;
		}
	}
}
.popup.on {
	display: flex;
	width: 100%;
	height: 100%;
	z-index: 1;
}
footer {
	background: #334255;
	padding: 4rem 0;
	p {
		text-align: center;
		color: #fff;
		font: {
			size: 1.6rem;
			weight: 400;
		}
	}
	ul {
		@include flexCenter(center, center);
		margin-top: 3rem;
		li {
			a {
				text-align: center;
				color: #fff;
				font: {
					size: 1.4rem;
					weight: 300;
				}
			}
			&:first-child {
				a {
					margin-right: 3rem;
				}
			}
		}
	}
}
.docs {
	&-wrap {
		& >* {
			margin-top: 4rem;
		}
		& *:first-child {
			margin-top: 0;
		}
		p {
			text-align: left;
		}
	}
	&-header {
		>div {
			position: relative;
			box-shadow: 0 2px 2px #eee;
			background: #fff;
			height: 12rem;
		}
		h2 {
			font: {
				size: 2rem;
				weight: 500;
			}
			background: #b8c4d6;
			padding: 1rem 2rem;
			color: #fff;
			position: absolute;
			top: 2rem;
			left: 10%;
			width: 80%;
			box-sizing: border-box;
			+ {
				p {
					position: absolute;
					top: 8rem;
					left: 10%;
					margin: 0;
				}
			}
		}
	}
	&-box {
		width: 80%;
		margin: 0 auto;
		>* {
			margin-top: 4rem;
		}
		&:first-child {
			margin-top: 0;
		}
		.list-box {
			border-bottom: 1px solid #eee;
			margin-top: 0;
			padding: 2rem;
			&:last-child {
				border-bottom: none;
			}
			&:first-child {
				margin-top: 0;
			}
		}
		h3 {
			margin: 2rem 0;
			font: {
				size: 2.4rem;
				weight: 500;
			}
		}
		li {
			margin: 2rem 0;
		}
		p {
			margin: 2rem 0;
		}
		figure {
			width: 80%;
			margin: 2rem auto 4rem;
		}
		figcaption {
			margin: 2rem auto;
			text-align: center;
			font-size: 1.6rem;
		}
		.emphasis01 {
			display: inline-block;
			background: #e8f1ff;
			font-size: 1.4rem;
			color: #df89b5;
			padding: 0.5rem;
		}
		.emphasis02 {
			display: inline-block;
			background: #fff3f9;
			font-size: 1.4rem;
			color: #86a4d4;
			padding: 0.5rem;
		}
		.link {
			color: #008b8b;
			display: inline-block;
		}
		.important {
			color: #b30000;
			font-size: 1rem;
		}
		.badge {
			display: inline-block;
			padding: 0.5rem 1rem;
			border-radius: 1rem;
			color: #008b8b;
			border: 1px solid #008b8b;
			font: {
				weight: 600;
				size: 1.4rem;
			}
		}
	}
}
.note {
	.go-btn {
		background: #fff;
		width: 3rem;
		height: 3rem;
		border-radius: 3rem;
		position: fixed;
		right: 3rem;
		bottom: 3rem;
		@include flexCenter(center, center);
		&:hover, &:active {
			box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
		}
		i {
			font-size: 1.4rem;
			color: #3f3f3f;
		}
	}
	&-box {
		display: flex;
		flex-direction: column;
		@include center(80%);
		.box {
			margin-top: 3rem;
			height: auto;
			min-height: 3rem;
			&:first-child {
				margin-top: 0;
			}
		}
		h3 {
			display: inline-block;
			position: relative;
			font: {
				size: 2rem;
				weight: 500;
			}
		}
		ul {
			visibility: hidden;
			height: 0;
			margin-top: -1rem;
			transition: margin 0.2s;
		}
		h3.on {
			+ {
				ul {
					visibility: visible;
					height: auto;
					margin: 0;
				}
			}
		}
		li {
			font-size: 1.4rem;
			margin-top: 2rem;
			padding-left: 2rem;
			@include flexCenter(flex-start, center);
			&::before {
				display: block;
				content: "\f2d1";
				color: #323232;
				font-family: "Font Awesome 5 Free";
				margin: {
					top: -8px;
					right: 1rem;
				}
			}
		}
	}
	&-wrap {
		margin-top: 4rem;
		.view {
			@include hide;
		}
	}
}
@media all and (min-width: 767px) and (max-width: 1024px) {
	.popup {
		figure {
			width: 70%;
		}
	}
}
@media all and (min-width: 1024px) {
	header {
		width: 320px;
		height: 100%;
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		padding: 0;
		@include show;
		.logo {
			height: 6rem;
			line-height: 6rem;
			padding-left: 2rem;
		}
		.menu {
			@include hide;
		}
		.gnb {
			@include show;
			button {
				&::before {
					transition: width 0.2s;
					width: 0;
				}
				&:hover {
					&::before {
						width: 100%;
						opacity: 0.2;
					}
				}
				&:active {
					&::before {
						width: 100%;
						opacity: 0.2;
					}
				}
			}
		}
		.depth {
			a {
				&::before {
					height: 0.2rem;
					transition: width 0.2s;
					width: 0;
				}
				&:hover, &:active {
					&::before {
						width: 100%;
						opacity: 0.4;
					}
				}
			}
		}
		.depth_wrap {
			@include show;
			position: initial;
			padding: 0;
			height: auto;
			max-height: calc(100vh - 6rem);
			padding-bottom: 2rem;
			&::-webkit-scrollbar {
				width: 12px;
			}
			&::-webkit-scrollbar-thumb {
				background-color: #f8cfe4 ;
				border: 4px solid transparent;
			}
		}
	}
	.menu {
		>li {
			>a {
				&::before {
					transition: width 0.2s;
					width: 0;
				}
				&:hover, &:active  {
					&::before {
						width: 100%;
					}
				}
			}
		}
	}
	header.fix {
		+.contents {
            padding: 60px 0;
            .docs-header {
                width: calc(100% - 320px);
                position: fixed;
                top: 0;
                left: 320px;
                z-index: 1;
				margin-top: 0;
            }
            &.note, &.main-page{
                padding-top: 0;
            }
		}
	}
	#wrap {
		.contents {
			padding-left: 320px;
		}
	}
	.lost-num {
		div {
			div {
				width: 40%;
				margin: 60px auto 0;
				height: 100%;
			}
		}
	}
	.contents {
		.docs-box {
			@include center(80%);
			max-width: 1200px;
			&:first-child {
				* {
					margin-top: 0;
				}
			}
			h3 {
				width: auto;
				margin: 2rem 0;
			}
			p {
				width: 100%;
			}
			figure {
				margin: 3rem 0 5rem;
			}
		}
		.docs-wrap {
			p.memo {
				width: auto;
				display: inline-block;
				padding: 1.5rem 3rem;
			}
			a {
				margin-left: 0;
			}
		}
	}
	.popup.on {
		z-index: 2;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			width: 0;
		}
	}
	.popup {
		figure {
			width: 55%;
		}
	}
	footer {
		width: calc(100% - 320px);
		margin-left: 320px;
	}
	.note-wrap {
		.go-btn {
			@include hide;
		}
		.view {
			@include show;
			position: fixed;
			top: 4rem;
			right: 2rem;
			width: 100%;
			div {
				width: 12rem;
				height: 2rem;
				position: absolute;
				top: 0;
				right: 0;
				@include flexCenter(space-around, center);
			}
			span {
				font: {
					weight: 300;
					size: 1.2rem;
				}
			}
			span.on {
				font-weight: 500;
			}
		}
	}
	.docs-box {
		.important {
			font-size: 2rem;
		}
	}
}
@media all and (min-width: 1365px) {
	.contents {
		* {
			section {
				padding: 0;
			}
		}
	}
	.flex-wrap {
		>section {
			>div {
				height: 100%;
				min-height: 90vh;
				flex-direction: row-reverse;
				@include flexCenter(space-around, center);
				&:first-child {
					margin: 0;
					margin-left: 8rem;
				}
			}
			&:nth-child(even) {
				>div {
					flex-direction: row;
				}
			}
		}
		figure {
			width: 50%;
			max-width: 600px;
		}
	}
	.popup {
		figure {
			width: 40%;
		}
	}
}