<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZ CMD</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="wrap">
        <header id="header">
            <h1 class="logo ripple" onclick="location.href='../../index.html'">SOPIA</h1>
            <ul class="menu">
                <li><a class="ripple" href="../note.html">패치노트</a></li>
                <li>
                    <a class="ripple open-menu">사용방법</a>
                    <ul class="gnb">
                        <li>
                            <button type="submit">빠른 시작 안내</button>
                            <ul class="depth">
                                <li><a href="../quick start/serial.html" class="ripple">시리얼 넘버 발급</a></li>
                                <li><a href="../quick start/install.html" class="ripple">설치하기</a></li>
                                <li><a href="../quick start/menager.html" class="ripple">간편 매니저</a></li>
                                <li><a href="../quick start/spoor-chat-use.html" class="ripple">Spoor Chat 사용</a></li>
                            </ul>
                        </li>
                        <li>
                            <button type="submit" class="on">프로그램 메뉴 안내</button>
                            <ul class="depth">
                                <li><a href="./home.html" class="ripple">HOME</a></li>
                                <li><a href="./ez-cmd.html" class="ripple">EZ CED</a></li>
                                <li><a href="./code.html" class="ripple">CODE</a></li>
                                <li><a href="./spoor-chat.html" class="ripple">SPOOR CHAT</a></li>
                                <li><a href="./setting.html" class="ripple page-select">SETTING</a></li>
                                <li><a href="./bundle.html" class="ripple">BUNDLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <button type="submit">번들 안내</button>
                            <ul class="depth">
                                <li><a href="../bundle guide/onoff.html" class="ripple">On Off</a></li>
                                <li><a href="../bundle guide/repeat.html" class="ripple">반복</a></li>
                                <li><a href="../bundle guide/signature.html" class="ripple">시그니처</a></li>
                                <li><a href="../bundle guide/request.html" class="ripple">신청곡</a></li>
                                <li><a href="../bundle guide/vote.html" class="ripple">투표</a></li>
                                <li><a href="../bundle guide/current-song.html" class="ripple">현재곡</a></li>
                                <li><a href="../bundle guide/mini-game.html" class="ripple">미니게임</a></li>
                                <li><a href="../bundle guide/add-commend.html" class="ripple">쉬운 명령어 추가</a></li>
                            </ul>
                        </li>
                        <li>
                            <button type="submit">API 가이드</button>
                            <ul class="depth">
                                <li><a href="../API guide/start.html" class="ripple">시작하기</a></li>
                                <li><a href="../API guide/object-sopia.html" class="ripple">Sopia객체</a></li>
                                <li><a href="../API guide/object-var.html" class="ripple">Var 객체</a></li>
                                <li><a href="../API guide/object-config.html" class="ripple">Config객체</a></li>
                                <li><a href="../API guide/object-itv.html" class="ripple">Itv 객체</a></li>
                                <li><a href="../API guide/script.html" class="ripple">스크립트 삽임</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <button class="menu-hide" onclick="window.location.reload()"></button>
        </header>
        <div class="contents">
        </div>

        <div class="popup">
            <figure  class="style-none ripple" data-color="222"><img src="" alt=""></figure>
        </div>

        <footer class="footer">
            <p>2021 - 개발자 윤군</p>
            <ul>
                <li><a href="https://github.com/raravel">raravel (개발자 윤군) · GitHub</a></li>
                <li><a href="https://blog.naver.com/PostList.nhn?blogId=ifthe1201">윤군의 일기장</a></li>
            </ul>
        </footer>
    </div>

    <script src="../../js/event.js"></script>
</body>
</html>