<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>docs01</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="wrap">
        <header class="header">
            <div class="header-wrap">
                <h1 class="logo">SOPIA</h1>
                <ul>
                    <li class="js-menu"><a href="#" class="ripple mobile-btn" data-color="bfd9fe">사용방법</a></li>
                    <li><a href="#" class="ripple mobile-btn">패치노트</a></li>
                </ul>
            </div>
            <div class="menu-wrap">
                <div class="menu">
                    <h2 class="logo">SOPIA</h2>
                    <ul>
                        <li class="on">
                            <a class="ripple mobile-btn">빠른 시작 안내</a>
                            <ul class="gnb-wrap">
                                <li><a class="ripple mobile-btn">어떻게 시리얼 넘버를 발급하나요?</a></li>
                                <li><a class="ripple mobile-btn">설치하기</a></li>
                                <li><a class="ripple mobile-btn">간편 매니저</a></li>
                                <li><a class="ripple mobile-btn">Spoor Chat 사용</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="ripple mobile-btn">프로그램 메뉴 안내</a>
                            <ul class="gnb-wrap">
                                <li><a class="ripple mobile-btn">HOME</a></li>
                                <li><a class="ripple mobile-btn">EZ CED</a></li>
                                <li><a class="ripple mobile-btn">CODE</a></li>
                                <li><a class="ripple mobile-btn">SPOOR CHAT</a></li>
                                <li><a class="ripple mobile-btn">SETTING</a></li>
                                <li><a class="ripple mobile-btn">BUNDLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="ripple mobile-btn">번들 안내</a>
                            <ul class="gnb-wrap">
                                <li><a class="ripple mobile-btn">OnOff</a></li>
                                <li><a class="ripple mobile-btn">반복</a></li>
                                <li><a class="ripple mobile-btn">시그니처</a></li>
                                <li><a class="ripple mobile-btn">투표</a></li>
                                <li><a class="ripple mobile-btn">현재곡</a></li>
                                <li><a class="ripple mobile-btn">미니게임</a></li>
                                <li><a class="ripple mobile-btn">쉬운 명령어 추가</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="ripple mobile-btn">API 가이드</a>
                            <ul class="gnb-wrap">
                                <li><a class="ripple mobile-btn">시작하기</a></li>
                                <li><a class="ripple mobile-btn">Sopia 객체</a></li>
                                <li><a class="ripple mobile-btn">var 객체</a></li>
                                <li><a class="ripple mobile-btn">Config 객체</a></li>
                                <li><a class="ripple mobile-btn">Itv 객체</a></li>
                                <li><a class="ripple mobile-btn">스크립트 삽입</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="hide-btn">o</a>
                </div>
            </div>
            
            <div class="pc-header">
                <h1 class="logo">SOPIA</h1>
                <ul>
                    <li><a class="ripple">패치노트</a></li>
                    <li>
                        <a class="ripple">사용방법</a>
                        <ul class="depth">
                            <li class="on">
                                <a class="ripple fill-btn">빠른 시작 안내</a>
                                <ul class="gnb-wrap">
                                    <li><a class="ripple border-btn page-select">시리얼 넘버 발급</a></li>
                                    <li><a class="ripple border-btn">설치하기</a></li>
                                    <li><a class="ripple border-btn">간편 매니저</a></li>
                                    <li><a class="ripple border-btn">Spoor Chat 사용</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="ripple fill-btn">프로그램 메뉴 안내</a>
                                <ul class="gnb-wrap">
                                    <li><a class="ripple border-btn">HOME</a></li>
                                    <li><a class="ripple border-btn">EZ CED</a></li>
                                    <li><a class="ripple border-btn">CODE</a></li>
                                    <li><a class="ripple border-btn">SPOOR CHAT</a></li>
                                    <li><a class="ripple border-btn">SETTING</a></li>
                                    <li><a class="ripple border-btn">BUNDLE</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="ripple fill-btn">번들 안내</a>
                                <ul class="gnb-wrap">
                                    <li><a class="ripple border-btn">OnOff</a></li>
                                    <li><a class="ripple border-btn">반복</a></li>
                                    <li><a class="ripple border-btn">시그니처</a></li>
                                    <li><a class="ripple border-btn">투표</a></li>
                                    <li><a class="ripple border-btn">현재곡</a></li>
                                    <li><a class="ripple border-btn">미니게임</a></li>
                                    <li><a class="ripple border-btn">쉬운 명령어 추가</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="ripple fill-btn">API 가이드</a>
                                <ul class="gnb-wrap">
                                    <li><a class="ripple border-btn">시작하기</a></li>
                                    <li><a class="ripple border-btn">Sopia 객체</a></li>
                                    <li><a class="ripple border-btn">var 객체</a></li>
                                    <li><a class="ripple border-btn">Config 객체</a></li>
                                    <li><a class="ripple border-btn">Itv 객체</a></li>
                                    <li><a class="ripple border-btn">스크립트 삽입</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </header>
        <div class="contents">

            <div class="docs-wrap">
                <div class="docs-header">
                    <div>
                        <h3>어떻게 시리얼을 발급하나요?</h3>
                        <p>내가 이것까지 써야 했었나</p>
                    </div>
                </div>
                <div class="docs-box">
                    <!-- <p class="emphasis"><strong>다운로드</strong></p> -->
                    <p class="memo">이제 구글 및 애플 계정의 가입이 가능합니다!</p>
                    <p>아래 링크를 클릭해 가입 페이지로 들어갑니다.</p>
                    <a href="#">시리얼 발급</a>
                    <figure class="ripple" data-color="222">
                        <img src="../images/choice.gif" alt="">
                        <figcaption>계정 신청자가 DJ인지 매니저인지 선택합니다.</figcaption>
                    </figure>
                    <figure class="ripple" data-color="222">
                        <img src="../images/choice.gif" alt="">
                        <figcaption>계정 신청자가 DJ인지 매니저인지 선택합니다.</figcaption>
                    </figure>
                    <figure class="ripple" data-color="222">
                        <img src="../images/choice.gif" alt="">
                        <figcaption>계정 신청자가 DJ인지 매니저인지 선택합니다.</figcaption>
                    </figure>
                    <figure class="ripple" data-color="222">
                        <img src="../images/choice.gif" alt="">
                        <figcaption>계정 신청자가 DJ인지 매니저인지 선택합니다.</figcaption>
                    </figure>
                    <p>그러면, 시리얼 발급은 끝났습니다. 즉시 사용하시면 됩니다.</p>
                </div>
            </div>

        </div>

        <div class="popup">
            <figure class="style-none ripple" data-color="222"><img src="" alt=""></figure>
        </div>

        <footer class="footer">
            <p>2021 - 개발자 윤군</p>
        </footer>
    </div>

    <script src="../js/event.js"></script>
</body>
</html>