<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOPIA</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="wrap">
        <header id="header">
            <h1 class="logo">SOPIA</h1>
            <ul class="menu">
                <li><a class="ripple" href="./note.html">패치노트</a></li>
                <li>
                    <a class="ripple" onclick="headerView()">사용방법</a>
                    <ul class="gnb">
                        <li>
                            <button type="submit" class="on">빠른 시작 안내</button>
                            <ul class="depth">
                                <li class="depth-list"><a href="" class="ripple">어떻게 시리얼 넘버를 발급하나요?</a></li>
                                <li class="depth-list"><a href="" class="ripple">설치하기</a></li>
                                <li class="depth-list"><a href="" class="ripple">간편 매니저</a></li>
                                <li class="depth-list"><a href="" class="ripple">Spoor Chat 사용</a></li>
                            </ul>
                        </li>
                        <li>
                            <button type="submit">프로그램 메뉴 안내</button>
                            <ul class="depth">
                                <li class="depth-list"><a href="" class="ripple">HOME</a></li>
                                <li class="depth-list"><a href="" class="ripple">EZ CED</a></li>
                                <li class="depth-list"><a href="" class="ripple">CODE</a></li>
                                <li class="depth-list"><a href="" class="ripple">SPOOR CHAT</a></li>
                                <li class="depth-list"><a href="" class="ripple">SETTING</a></li>
                                <li class="depth-list"><a href="" class="ripple">BUNDLE</a></li>
                            </ul>
                        </li>
                        <li>
                            <button type="submit">빠른 시작 안내</button>
                            <ul class="depth">
                                <li class="depth-list"><a href="" class="ripple">어떻게 시리얼 넘버를 발급하나요?</a></li>
                                <li class="depth-list"><a href="" class="ripple">설치하기</a></li>
                                <li class="depth-list"><a href="" class="ripple">간편 매니저</a></li>
                                <li class="depth-list"><a href="" class="ripple">Spoor Chat 사용</a></li>
                            </ul>
                        </li>
                        <li>
                            <button type="submit">빠른 시작 안내</button>
                            <ul class="depth">
                                <li class="depth-list"><a href="" class="ripple">어떻게 시리얼 넘버를 발급하나요?</a></li>
                                <li class="depth-list"><a href="" class="ripple">설치하기</a></li>
                                <li class="depth-list"><a href="" class="ripple">간편 매니저</a></li>
                                <li class="depth-list"><a href="" class="ripple">Spoor Chat 사용</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <button class="menu-hide" onclick="window.location.reload()"></button>
        </header>

        <div class="contents main-page">

            <section class="main">
                <div>
                    <figure class="disable"><img src="../images/bot.b906bd01.png" alt="SOPIA"></figure>

                    <div class="ttt">
                        <h2>SOPIA</h2>
                        <p>당신의 스푼 방송을 더 멋지게 만들어주는 매니저 프로그램</p>

                        <ul>
                            <li class="mobile-btn ripple">최신 다운로드</li>
                            <li class="mobile-btn ripple">구글 드라이브</li>
                            <li class="mobile-btn ripple">사용 방법보기</li>
                        </ul>
                    </div>

                </div>
            </section>
            
            <section class="lost-num">
                <div>
                    <h2>시리얼을 잃어버렸을 땐?</h2>
                    <div class="ripple">
                        <span class="box">@고유 닉네임</span>
                        <span class="ripple mobile-btn" data-color="fff">검색</span>
                    </div>
                </div>
            </section>

            <div class="flex-wrap">
                <section class="design">
                    <div>
                        <figure class="ripple" data-color="222"><img src="../images/main.e260fd45.gif" alt=""></figure>
                        <p>깔끔하며, 눈을 뗄 수 없는 디자인이 당신을 사로잡을 겁니다.<br>디자인 뿐만 아니라 사용자 경험 측면에서도 쉽게 다가갈 수 있습니다.</p>
                    </div>
                </section>
    
                <section class="freedom">
                    <div>
                        <figure class="ripple" data-color="222"><img src="../images/freedom.gif" alt=""></figure>
                        <p>엄청난 자유도를 가지고 봇의 머리를 코딩할 수 있습니다.<br>입문 장벽이 낮은 자바스크립트는 당신이 원하는 대로 할 수 있습니다.</p>
                    </div>
                </section>
        
                <section class="voice">
                    <div>
                        <figure class="ripple" data-color="222"><img src="../images/voice.gif" alt=""></figure>
                        <p>스푼라디오에 드디어 도네이션 기능이 추가되었습니다.<br>스푼을 후원한 청취자의 채팅을 읽는 것으로 더 재밌는 방송을 진행할 수 있습니다.<br>특정 텍스트를 자신의 목소리로 대신 읽어주는 시그니처 기능 또한 있습니다.</p>
                    </div>
                </section>
        
                <section class="auto-login">
                    <div>
                        <figure class="ripple" data-color="222"><img src="../images/auto-login.gif" alt=""></figure>
                        <p>자동 로그인 기능을 포함한 몇몇 설정은 매우 간편합니다.</p>
                    </div>
                </section>
        
                <section class="choice">
                    <div>
                        <figure class="ripple" data-color="222"><img src="../images/choice.gif" alt=""></figure>
                        <p>원하는 기능만 골라 사용할 수 있는 번들 기능을 제공합니다.<br>프로그램을 업데이트 하지 않아도, 번들은 업데이트 할 수 있습니다.</p>
                    </div>
                </section>
            </div>

            <section class="community">
                <div>
                    <div>
                        <p class="header">커뮤니티</p>
                        <p>스푼라디오에서 가장 큰 커뮤니티라고 생각합니다.<br>약 1000명의 사람들이 서로 질문하고 친목을 도모하며 교류합니다</p>
                        <button class="ripple">커뮤니티 참여</button>
                    </div>
                    
                </div>                
            </section>
    
            <section class="anydesk">
                <div>
                    <p>Anydesk를 사용하여 문제 해결에 도움을 드리고 있습니다.<br>어려운 문제는 원격으로 해결하세요!</p>
                    <button class="ripple" data-color="d2d8e0">다운로드</button>
                    <figure class="ripple" data-color="222"><img src="../images/anydesk.png" alt=""></figure>
                </div>
            </section>

        </div>

        <div class="popup">
            <figure class="style-none"><img src="" alt=""></figure>
        </div>

        <footer class="footer">
            <p>2021 - 개발자 윤군</p>
        </footer>
    </div>

    <script src="../js/event.js"></script>
    <!-- 
        랜더링을 할 때 html을 상단에서 하단 순으로 읽는다
        중간에 js를 만나면 랜더링이 멈춤
     -->
</body>
</html>